h1{
  font-weight: 700;
  font-size: 4px;
  margin: 10px;
  margin-bottom: 20px;
}

input{
  width: 100%;
}

.items-container{
  text-align: left;
}
.himbutton{
  margin-right: 80px;
}
.kg-button{
  min-width: 80px;
}

.kg-row{
  margin: 10px 5px;
}